* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: #e0e1dd;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0rem;
  padding: 2rem;
}
.nav__title {
  text-transform: uppercase;
  font-family: "Delicious Handrawn", cursive;
  font-size: 3rem;
}
.nav__burger {
  padding: 1rem;
  font-size: 1.8rem;
  border: 1px solid #000;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.nav__burger:hover {
  outline: none;
  background-color: #333;
  color: #f1faee;
}
.nav__list {
  display: none;
}

h1.header {
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.main {
  width: 95%;
  margin: 1rem auto 0;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.search__input {
  width: 100%;
  max-width: 40rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #000;
}
.search__input:focus {
  outline: none;
  background-color: #333;
  color: #fff;
}
.search__warning {
  color: #f00;
  font-size: 1.2rem;
  padding-top: 1rem;
}

.recipe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.recipe__item {
  height: 45rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 40rem;
  border: 1px solid #000;
  background-color: #fefae0;
}
.recipe__item-image {
  background-image: url("https://cdn.pixabay.com/photo/2023/03/17/12/03/roe-deer-7858518_960_720.jpg");
  height: 50%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.recipe__item-container {
  margin: 1rem;
  font-size: 1.1rem;
}
.recipe__item-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.recipe__item-container-title {
  font-size: 1.2rem;
  font-weight: bold;
  width: 55%;
}
.recipe__item-container-link {
  width: 39%;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  background-color: #edede9;
  color: #000;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.recipe__item-container-link:hover {
  outline: none;
  background-color: #333;
  color: #f1faee;
}
.recipe__item-container-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recipe__item-container-fat, .recipe__item-container-carb, .recipe__item-container-protein {
  width: 40%;
  margin-bottom: 1rem;
}
.recipe__item-container-fat span, .recipe__item-container-carb span, .recipe__item-container-protein span {
  font-weight: bold;
}
.recipe__item-container-cuisine, .recipe__item-container-diet, .recipe__item-container-calories {
  width: 55%;
}
.recipe__item-container-cuisine span, .recipe__item-container-diet span, .recipe__item-container-calories span {
  font-weight: bold;
}
.recipe__item-container-fav {
  display: block;
  margin: 1rem auto 0.5rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  background-color: #edede9;
  color: #000;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.recipe__item-container-fav:hover {
  outline: none;
  background-color: #333;
  color: #f1faee;
}
.recipe__item-container-warning {
  text-align: center;
  color: #f00;
}

@media (min-width: 350px) {
  .recipe__item-container {
    margin: 1.5rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 568px) {
  .nav,
  .header {
    max-width: 60rem;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .nav,
  .header {
    max-width: 90rem;
  }
  .nav__burger {
    display: none;
  }
  .search__input {
    max-width: 50rem;
  }
  .recipe {
    justify-content: space-around;
  }
  .recipe__item {
    width: 45%;
    max-width: 40rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 992px) {
  .nav,
  .header {
    max-width: 120rem;
    padding: 3rem;
  }
  .nav__title {
    font-size: 4rem;
  }
  h1.header {
    font-size: 2.6rem;
    margin: 2rem auto;
  }
  .search__input {
    max-width: 60rem;
  }
  .recipe__item {
    width: 32%;
  }
}
@media (min-width: 1200px) {
  .nav,
  .header,
  .main {
    max-width: 140rem;
  }
  .recipe__item-container {
    font-size: 1.2rem;
  }
  .recipe__item-container-title {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=main.css.map */